{%extends 'student.html'%}
{%block studentpage%}
<h1>Pending Requests</h1>
{% for row in data %}
<form>
<div class="form-row form-inline">
    <input type="text" class="form-control" id="ID" name="ID" value="{{row[0]}}" disabled>
    <input type="hidden" class="form-control" id="ID" name="ID" value="{{row[0]}}" >
    <input type="text" class="form-control" id="departmentName" name="Name" value="{{row[1]}}" disabled>
    <input type="hidden" class="form-control" id="departmentName" name="Name" value="{{row[1]}}">
    <input type="text" class="form-control" id="departmentName" name="Name" value="{{row[2]}}" disabled>
    <input type="hidden" class="form-control" id="departmentName" name="Name" value="{{row[2]}}" >
    <input type="text" class="form-control" id="departmentName" name="Name" value="{{row[3]}}" disabled>
    <input type="hidden" class="form-control" id="departmentName" name="Name" value="{{row[3]}}" >
    <input type="text" class="form-control" id="departmentName" name="Name" value="{{row[4]}}" disabled>
    <input type="hidden" class="form-control" id="departmentName" name="Name" value="{{row[4]}}" >
    <input type="text" class="form-control" id="sectionID" name="sectionID" value="{{row[5]}}" disabled>
    <input type="hidden" class="form-control" id="sectionID" name="sectionID" value="{{row[5]}}" >
</div>


</form>
<br/>
{% endfor %}
{%endblock%}
