{%extends 'admin.html'%}
{%block adminPage%}

<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
  // Data Picker Initialization
  $('.datepicker').pickadate();

  $('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
  // Data Picker Initialization
  $('.datepicker').pickadate();
  </script>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Course</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-whatever="@mdo">Delete Course</button>

  <table class="table " style="width:50%">
  <tr>
    <th>ID</th>
    <th>Course Name</th>
  </tr>
  {% for row in data %}
<tr>
{% for d in row %}
<td>{{d}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:#000;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/adminCourses" method="POST">
            <div class="form-group">

              <label for="recipient-name" class="col-form-label">Course Name:</label>
              <input type="text" class="form-control" id="courseName" name="courseName">
            </div>
          <button type="submit" class="btn btn-primary">Add Course</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:#000;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/adminCoursesDelete" method="POST">
            <div class="form-group">

              <label for="recipient-name" class="col-form-label">Course ID:</label>
              <input type="text" class="form-control" id="course_id" name="courseID">
            </div>

          <button type="submit" class="btn btn-primary">Delete Course</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{%endblock%}
